@model  IEnumerable<BDProjeto.Dominio.Usuarios>


@{
    ViewBag.Title = "Lista de Usuários  ";
}
    <h2>Pagina Inicial</h2>
    <html>
    <head>

    </head>
    <body>
       
    </body>
</html>
